<div class="contact">
	<h2>{{ 'main.CONTACT.HEADER' | translate }}</h2>
	<p>{{ 'main.CONTACT.TEXT' | translate }}</p>
	<p>{{ 'main.CONTACT.CONTACT_ME' | translate }}</p>
	<p>
		<span>{{ 'main.CONTACT.MY_EMAIL.TITLE' | translate }}</span>
		:
		<a href="mailto:{{ 'main.CONTACT.MY_EMAIL.ADDRESS' | translate }}">
			{{ 'main.CONTACT.MY_EMAIL.ADDRESS' | translate }}
		</a>
	</p>
	<p>
		<span>{{ 'main.CONTACT.MY_PHONE.TITLE' | translate }}</span>
		:
		<a href="tel:{{ 'main.CONTACT.MY_PHONE.NUMBER' | translate }}">
			{{ 'main.CONTACT.MY_PHONE.NUMBER' | translate }}
		</a>
	</p>
	<input type="text" placeholder="{{ 'main.CONTACT.NAME' | translate }}" />
	<input type="email" placeholder="{{ 'main.CONTACT.MAIL' | translate }}" />
	<textarea placeholder="{{ 'main.CONTACT.MSG' | translate }}"></textarea>
	<p>{{ 'main.CONTACT.NAME_REQ' | translate }}</p>
	<p>{{ 'main.CONTACT.EMAIL_REQ' | translate }}</p>
	<p>{{ 'main.CONTACT.MSG_REQ' | translate }}</p>
	<p>{{ 'main.CONTACT.PRIVACY' | translate }}</p>
	<p>{{ 'main.CONTACT.PRIVACY_REQ' | translate }}</p>
	<button>{{ 'main.CONTACT.BTN' | translate }}</button>
</div>
