<div id="contact" class="component-gap"></div>
<div class="header-container">
	<h2>{{ 'main.CONTACT.HEADER' | translate }}</h2>
	<div class="arrow-contact-container">
		<img class="arrow-contact" src="./../../../assets/icons/icons/arrow-contact.png" alt="Contact arrow" />
	</div>
</div>

<div class="contact" appScrollAnimate="fade-left" [rootMargin]="'-150px'">
	<div class="text">
		<div class="text-flex">
			<div class="green-regular-text">{{ 'main.CONTACT.TEXT' | translate }}</div>
			<div class="my-details-and-arrow-up">
				<div class="my-details">
					<div>
						<div appHoverImage>
							<a href="mailto:{{ 'main.CONTACT.MY_EMAIL.ADDRESS' | translate }}">
								<div class="contact-icon-container">
									<img
										src="../../../assets/icons/icons/icon-email-red.png"
										alt=""
										class="default-image icon-email"
									/>
									<img
										src="../../../assets/icons/icons/icon-email-green.png"
										alt=""
										class="hover-image icon-email"
									/>
								</div>
							</a>
							<span class="my-details-text">{{ 'main.CONTACT.MY_EMAIL.TITLE' | translate }}</span>
							:
							<a
								class="my-details-text hover"
								href="mailto:{{ 'main.CONTACT.MY_EMAIL.ADDRESS' | translate }}"
							>
								{{ 'main.CONTACT.MY_EMAIL.ADDRESS' | translate }}
							</a>
						</div>
					</div>
					<div>
						<div appHoverImage>
							<a href="tel:{{ 'main.CONTACT.MY_PHONE.NUMBER' | translate }}">
								<div class="contact-icon-container">
									<img
										src="../../../assets/icons/icons/icon-phone-red.png"
										alt=""
										class="default-image icon-phone"
									/>
									<img
										src="../../../assets/icons/icons/icon-phone-green.png"
										alt=""
										class="hover-image icon-phone"
									/>
								</div>
							</a>
							<span class="my-details-text">{{ 'main.CONTACT.MY_PHONE.TITLE' | translate }}</span>
							:
							<a
								class="my-details-text hover"
								href="tel:{{ 'main.CONTACT.MY_PHONE.NUMBER' | translate }}"
							>
								{{ 'main.CONTACT.MY_PHONE.NUMBER' | translate }}
							</a>
						</div>
					</div>
				</div>
				<a href="#top" class="arrow-up-link">
					<div>
						<div class="arrow-up-container" appHoverImage>
							<img src="../../../assets/icons/icons/red-arrow-up.png" alt="" class="default-image" />
							<img src="../../../assets/icons/icons/green-arrow-up.png" alt="" class="hover-image" />
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
		<div class="inputs-flex">
			<div>
				<div class="input-wrapper">
					<label for="name" class="sr-only">{{ 'main.CONTACT.NAME' | translate }}</label>
					<input
						class="name"
						[(ngModel)]="contactData.name"
						[ngClass]="{
							'input-bg valid-input': isNameFilled,
							'error-placeholder invalid-input': wasNameFocused && !isNameFilled
						}"
						type="text"
						id="name"
						name="name"
						(blur)="onBlur('name')"
						[placeholder]="
							wasNameFocused && !isNameFilled
								? ('main.CONTACT.NAME_REQ' | translate)
								: ('main.CONTACT.NAME' | translate)
						"
						required
					/>
					<div class="validation-icon"></div>
				</div>
				<div class="input-wrapper">
					<label for="email" class="sr-only">{{ 'main.CONTACT.MAIL' | translate }}</label>
					<input
						class="email"
						[(ngModel)]="contactData.email"
						[ngClass]="{
							'input-bg valid-input': isEmailFilled,
							'error-placeholder invalid-input': wasEmailFocused && !isEmailFilled
						}"
						type="email"
						id="email"
						name="email"
						(blur)="onBlur('email')"
						[placeholder]="
							wasEmailFocused && !isEmailFilled
								? ('main.CONTACT.EMAIL_REQ' | translate)
								: ('main.CONTACT.MAIL' | translate)
						"
						required
					/>
					<div class="validation-icon"></div>
				</div>
			</div>
			<div class="input-wrapper">
				<label for="message" class="sr-only">{{ 'main.CONTACT.MSG' | translate }}</label>
				<textarea
					class="message"
					[(ngModel)]="contactData.message"
					[ngClass]="{
						'textarea-bg valid-input': isTextareaFilled,
						'error-placeholder invalid-input': wasMessageFocused && !isTextareaFilled
					}"
					id="message"
					name="message"
					(blur)="onBlur('message')"
					[placeholder]="
						wasMessageFocused && !isTextareaFilled
							? ('main.CONTACT.MSG_REQ' | translate)
							: ('main.CONTACT.MSG' | translate)
					"
					required
				></textarea>
				<div class="validation-icon"></div>
			</div>
		</div>

		<div class="privacy-and-btn-container">
			<div class="privacy-checkbox-container">
				<div class="checkbox-container" [ngClass]="{ enabled: isFormPartiallyValid }">
					<input type="checkbox" id="privacy" name="privacy" [(ngModel)]="isPrivacyChecked" />
					<label for="privacy" class=""></label>
				</div>
				<div class="privacy-text-container">
					<p class="privacy-text">
						<span>{{ 'main.CONTACT.PRIVACY.1' | translate }}&nbsp;</span>
						<span>
							<a class="red-small-text" [routerLink]="['/privacy']" appTimedHover>
								{{ 'main.CONTACT.PRIVACY.2' | translate }}&nbsp;
							</a>
						</span>
						<span>{{ 'main.CONTACT.PRIVACY.3' | translate }}</span>
					</p>
					<p class="accept-privacy">
						<span
							class="red-small-text"
							[ngStyle]="{
								display: isPrivacyChecked ? 'none' : isSendBtnHovered ? 'block' : 'none'
							}"
						>
							{{ 'main.CONTACT.PRIVACY_REQ' | translate }}
						</span>
					</p>
				</div>
			</div>
			<div class="send-btn-container">
				<button
					class="send-btn"
					type="submit"
					[ngClass]="isFormValid ? 'btn btn-purple' : 'btn-grey'"
					[disabled]="!isFormValid"
					(mouseenter)="isSendBtnHovered = isFormPartiallyValid && (isSendBtnHovered = true)"
					appTimedHover
				>
					{{ 'main.CONTACT.BTN' | translate }}
				</button>
			</div>
		</div>
	</form>
	<div class="arrow-up-link-mobile">
		<div>
			<a href="#top" class="arrow-up-container" appHoverImage>
				<img src="../../../assets/icons/icons/red-arrow-up.png" alt="" class="default-image" />
				<img src="../../../assets/icons/icons/green-arrow-up.png" alt="" class="hover-image" />
			</a>
		</div>
	</div>
	<div class="my-details-mobile">
		<p appHoverImage>
			<a href="mailto:{{ 'main.CONTACT.MY_EMAIL.ADDRESS' | translate }}">
				<div class="contact-icon-container">
					<img src="../../../assets/icons/icons/icon-email-red.png" alt="" class="default-image icon-email" />
					<img src="../../../assets/icons/icons/icon-email-green.png" alt="" class="hover-image icon-email" />
				</div>
			</a>
			<a class="my-details-text hover" href="mailto:{{ 'main.CONTACT.MY_EMAIL.ADDRESS' | translate }}">
				{{ 'main.CONTACT.MY_EMAIL.ADDRESS' | translate }}
			</a>
		</p>
		<p appHoverImage>
			<a href="tel:{{ 'main.CONTACT.MY_PHONE.NUMBER' | translate }}">
				<div class="contact-icon-container">
					<img src="../../../assets/icons/icons/icon-phone-red.png" alt="" class="default-image icon-phone" />
					<img src="../../../assets/icons/icons/icon-phone-green.png" alt="" class="hover-image icon-phone" />
				</div>
			</a>
			<a class="my-details-text hover" href="tel:{{ 'main.CONTACT.MY_PHONE.NUMBER' | translate }}">
				{{ 'main.CONTACT.MY_PHONE.NUMBER' | translate }}
			</a>
		</p>
	</div>

	<div class="social-media-container-mobile">
		<a href="https://github.com/Martin-Messirek" target="_blank" class="social-media-link" appHoverImage>
			<img src="./../../../assets/icons/social-media/github-button.png" alt="Github" class="default-image" />
			<img src="./../../../assets/icons/social-media/github-button-green.png" alt="Github" class="hover-image" />
		</a>
		<a href="mailto:martinmessirek@hotmail.com" target="_blank" class="social-media-link" appHoverImage>
			<img src="./../../../assets/icons/social-media/email-button.png" alt="Email" class="default-image" />
			<img src="./../../../assets/icons/social-media/email-button-green.png" alt="Email" class="hover-image" />
		</a>
		<a href="https://www.linkedin.com/in/martinmessirek/" target="_blank" class="social-media-link" appHoverImage>
			<img src="./../../../assets/icons/social-media/linkedin-button.png" alt="Linkedin" class="default-image" />
			<img
				src="./../../../assets/icons/social-media/linkedin-button-green.png"
				alt="Linkedin"
				class="hover-image"
			/>
		</a>
	</div>
</div>
<div *ngIf="submittingMessage || successMessageVisible || messageFailed" class="overlay">
	<div class="success-message">
		<h3 *ngIf="submittingMessage">{{ 'main.MAIL_RECEIVED.SENDING_MESSAGE' | translate }}</h3>
		<h3 *ngIf="successMessageVisible">{{ 'main.MAIL_RECEIVED.MSG' | translate }}</h3>
		<h3 *ngIf="messageFailed" class="message-failed">{{ 'main.MAIL_RECEIVED.MESSAGE_FAILED' | translate }}</h3>
	</div>
</div>
