@import './../../../assets/css/variables.scss';
@import './../../../assets/css/mixins.scss';

$textarea-height: 144px;
$inputs-gap: 32px;

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.contact {
	@include flex($dir: column, $gap: $inputs-gap);
}
.my-details-text {
	@include text-style(500, 20px, $green-color);
}

//      @include flex($jc: center, $ai: center, $dir: column, $gap: 14px);
.inputs-flex,
.text-flex {
	@include flex($jc: space-between, $gap: $inputs-gap);
	width: 100%;

	& > div:first-child {
		flex: 1 1 45%; /* Der erste div (mit den Inputs) bekommt 45% der Breite */
		@include flex($jc: space-between, $dir: column, $gap: $inputs-gap);
	}

	& > div:last-child {
		flex: 1 1 55%; /* Der zweite div (mit der Textarea) bekommt 55% der Breite */
	}
}

.inputs-flex > div:first-child,
textarea {
	height: $textarea-height;
}

input.name,
input.email {
	// flex-basis: 40%;
	width: 100%;
	// max-width: 507px;
	height: 56px;
}

textarea {
	width: 100%;
	overflow-wrap: break-word; /* Textumbruch bei langen Wörtern */
	resize: none; /* Entfernt die Ecklinien zum Vergrößern */
	overflow: hidden; /* Verhindert die Anzeige des Scrollbalkens */
	// padding-right: 20px; /* Platz für den virtuellen Scrollbereich */

	/* Optional: Bei zu viel Text wird der Inhalt dennoch verborgen, ohne dass der Scrollbalken sichtbar ist */
	&:focus {
		overflow: scroll; /* Ermöglicht das Scrollen des Textes, aber ohne sichtbaren Scrollbalken */
		scrollbar-width: none; /* Entfernt den Scrollbalken für Firefox */
		-ms-overflow-style: none; /* Entfernt den Scrollbalken für IE */
	}
}

input.name,
input.email,
textarea {
	padding: 12px 18px;
	background-color: transparent;
	background: transparent;
	border: 2px solid $green-color; /* Border in Grün */
	@include text-style(400, 18px, $green-color);
}

::placeholder {
	color: rgba($green-color, 0.6);
}

.error-placeholder::placeholder {
	color: $error-color;
	font-size: 14px;
}

/* Der zweite Platzhalter (wenn das Feld leer und nicht fokussiert ist) */
// input:not(:focus):placeholder-shown {
// 	color: $red-color; /* Rot für den zweiten Platzhalter */
// }

input:focus::placeholder,
textarea:focus::placeholder {
	opacity: 0; /* Placeholder verschwindet beim Fokussieren */
	visibility: hidden; /* Alternativ: Sichtbarkeit auf "hidden" setzen */
}

input:focus,
textarea:focus {
	outline: none;
	border-color: $green-color;
	background: transparent;
	// opacity: 0; /* Placeholder verschwinden lassen */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	// -webkit-box-shadow: 0 0 0 30px rgba(20, 29, 47, 1) inset !important;
	// -webkit-box-shadow: 0 0 0 28px $bg-color inset !important;
	-webkit-box-shadow: 0 0 0 28px $bg-color inset !important;
	-webkit-text-fill-color: $green-color !important;
}

.input-bg {
	box-shadow: 0 0 0 28px $bg-color inset;
	// background-color: red;
	// background-color: $bg-color;
}

.textarea-bg {
	box-shadow: 0 0 0 74px $bg-color inset;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
	background-color: transparent !important;
	background: transparent;
	appearance: none !important; /* Entfernt das Standard-Autofill-Erscheinungsbild */

	border: 2px solid $green-color; /* Border in Grün */
	@include text-style(400, 18px, $green-color);
}

// input[type='checkbox'] {
// 	-webkit-appearance: none;
// 	-moz-appearance: none;
// 	appearance: none;
// 	background-color: transparent;
// 	border: 2px solid $green-color; /* Border in Grün */
// 	width: 20px;
// 	height: 20px;
// 	position: relative;
// 	cursor: pointer;
// 	transition: all 0.3s ease;

// 	/* Hover Effekt */
// 	&:hover {
// 		border-color: $green-color;
// 	}

// 	/* Wenn angekreuzt, Häkchen färben */
// 	&:checked {
// 		background-color: $green-color;
// 		border-color: $green-color;
// 	}

// 	/* Färbt das Häkchen selbst (nur sichtbar, wenn angekreuzt) */
// 	&:checked::after {
// 		content: '';
// 		position: absolute;
// 		top: 3px;
// 		left: 3px;
// 		width: 12px;
// 		height: 12px;
// 		background-color: $red-color; /* Rotes Häkchen */
// 		clip-path: polygon(0% 0%, 40% 60%, 100% 20%, 60% 40%, 20% 80%); /* Häkchen-Form */
// 	}
// }

.checkbox-container {
	display: flex;
	align-items: center;
	// justify-content: center;
	// gap: 8px;
	width: 18px;
	height: 18px;
	// padding-right: 16px;

	input[type='checkbox'] {
		display: none; // Versteckt die Standard-Checkbox
	}

	label {
		position: relative;
		cursor: pointer;
		padding-left: 30px;
		// display: inline-flex; // Verhindert, dass das Label zusammengequetscht wird
		align-items: center; // Zentriert den Inhalt vertikal
		height: 18px; // Sorgt dafür, dass das Label eine Mindesthöhe hat
		width: 18px;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			display: inline-block;
			transform: translateY(-50%);
			width: 12px;
			height: 12px;
			border: 2px solid $red-color;
			border-radius: 3px;
			background-color: transparent;
			@include transition();
		}
	}

	&.enabled input[type='checkbox']:checked + label::before {
		background-color: $green-color; // Ändert die Checkbox-Farbe bei aktivem Zustand
	}

	input[type='checkbox']:checked + label::after {
		content: '✔';
		position: absolute;
		left: 4px;
		top: 47%;
		transform: translateY(-50%);
		font-size: 10px;
		color: $red-color;
		font-weight: bold;
	}
}

.privacy-and-btn-container {
	padding-top: $inputs-gap;
	@include flex($dir: column);

	.privacy-checkbox-container
	// .send-btn-container
	{
		@include flex($gap: 24px);
		// width: 100%;
	}

	.send-btn-container {
		@include flex($jc: flex-end);
		// width: 100%;
		// align-self: flex-end;
	}
}

.privacy-text-container {
	p {
		line-height: 28px;
	}
}

.accept-privacy {
	height: 24px;
}

.privacy-text {
	span:first-child,
	span:last-child {
		@include text-style(400, 14px, $green-color);
	}

	a {
		// @include text-style(400, 14px, $red-color);
		@include transition();

		&:hover {
			font-weight: bold;
			filter: brightness(1.1);
		}
	}
}

.my-details-mobile {
	display: none;
}

.social-media-container-mobile {
	display: none;
}

@media (max-width: 1200px) {
	h2 {
		text-align: center;
	}
	// .contact {
	// 	@include flex($jc: center, $dir: column);
	// }
	// .text-flex {
	// 	@include flex($jc: center, $ai: center, $dir: column, $gap: 14px);
	// 	width: 100%;
	// 	> * {
	// 		width: 80%;
	// 	}
	// }
}

@media (max-width: 960px) {
	.inputs-flex,
	.text-flex,
	.privacy-and-btn-container {
		@include flex($jc: center, $ai: center, $dir: column, $gap: $inputs-gap);
		width: 100%;

		& > div {
			width: 80%;
			// gap: 40px;
			//
			// flex: 1 1 80%;
			// flex: unset; /* Entfernt die vorherige flex-Einstellung, sodass sie keine Wirkung mehr hat */
			// max-width: 637px;
		}

		// & > div:first-child {
		// 	flex: 1 1 80%; /* Der erste div (mit den Inputs) bekommt 45% der Breite */
		// }

		// & > div:last-child {
		// 	flex: 1 1 80%; /* Der zweite div (mit der Textarea) bekommt 55% der Breite */
		// }
	}

	.privacy-and-btn-container {
		gap: 16px; // Hier das kleinere gap setzen
	}

	.inputs-flex,
	.text-flex {
		& > div:first-child,
		> div:last-child {
			flex: unset;
		}
	}
}

@media (max-width: 896px) {
	.my-details {
		display: none;
	}
	.my-details-mobile {
		@include flex($ai: center, $dir: column, $gap: 36px);
		padding-bottom: 40px;
		padding-top: 48px;
	}

	.social-media-container-mobile {
		@include flex($jc: center, $gap: 36px);
	}
}

@media (max-width: 768px) {
	.inputs-flex,
	.text-flex,
	.privacy-and-btn-container {
		& > div {
			width: 90%;
		}
	}
	.my-details-text {
		font-size: 19px;
		font-weight: 700;
	}

	input,
	textarea {
		font-size: 17px;
	}

	.privacy-text-container {
		p {
			line-height: 24px;
		}
		span:first-child,
		span:last-child,
		a,
		p {
			font-size: 13px;
		}
	}
}

@media (max-width: 640px) {
	.inputs-flex,
	.text-flex,
	.privacy-and-btn-container {
		& > div {
			width: 100%;
		}
	}
}

@media (max-width: 560px) {
	.text-flex > div,
	.privacy-text-container > p {
		text-align: center;
	}

	.privacy-and-btn-container {
		.send-btn-container {
			justify-content: center;
		}
	}

	.my-details-text {
		font-size: 18px;
	}

	input,
	textarea {
		font-size: 16px;
	}

	.privacy-text-container {
		p {
			line-height: 20px;
		}
		span:first-child,
		span:last-child,
		a,
		p {
			font-size: 12px;
		}
	}
}
