@import './../../../assets/css/variables.scss';
@import './../../../assets/css/mixins.scss';

$textarea-height: 144px;
$inputs-gap: 32px;

.header-container {
	@include flex($ai: center, $gap: 24px);
}

.arrow-contact {
	width: 64px;
	height: 30px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.contact {
	@include flex($dir: column, $gap: $inputs-gap);
	opacity: 0;
}

@keyframes fadeLeft {
	0% {
		transform: translateX(-15%) translateY(20%);
		opacity: 0;
	}
	100% {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

.fade-left {
	animation: fadeLeft 0.6s ease-in-out forwards;
}

.my-details-and-arrow-up {
	@include flex($jc: space-between, $ai: flex-end);
}

.my-details {
	@include flex($jc: space-between, $dir: column, $gap: 8px);

	& > div > div {
		display: inline-flex;
		align-items: center;

		span {
			padding-left: 12px;
		}
	}
}

.my-details-text {
	@include text-style(500, 20px, $green-color);
}

.contact-icon-container {
	position: relative;
	width: 28.4px;
	height: 31px;

	img {
		position: absolute;
		cursor: pointer;
		@include transition();
		left: 0;
		bottom: 0;
	}
}

.icon-email {
	width: 28.4px;
	height: 30px;
}

.icon-phone {
	width: 26px;
	height: 31px;
}

.inputs-flex,
.text-flex {
	@include flex($jc: space-between, $gap: $inputs-gap);
	width: 100%;

	& > div:first-child {
		flex: 1 1 45%;
		@include flex($jc: space-between, $dir: column, $gap: $inputs-gap);
	}

	& > div:last-child {
		flex: 1 1 55%;
	}
}

.inputs-flex > div:first-child,
textarea {
	height: $textarea-height;
}

input.name,
input.email {
	width: 100%;
	height: 56px;
}

textarea {
	width: 100%;
	overflow-wrap: break-word;
	resize: none;
	overflow: hidden;

	&:focus {
		overflow: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
}

input.name,
input.email,
textarea {
	padding: 12px 40px 12px 18px;
	background-color: transparent;
	background: transparent;
	border: 2px solid $green-color;
	@include text-style(400, 18px, $green-color);
}

::placeholder {
	color: rgba($green-color, 0.6);
}

.error-placeholder::placeholder {
	color: $error-color;
	font-size: 14px;
}

input:focus::placeholder,
textarea:focus::placeholder {
	opacity: 0;
	visibility: hidden;
}

input:focus,
textarea:focus {
	outline: none;
	border-color: $green-color;
	background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px rgba(20, 29, 47, 1) inset !important;
	-webkit-box-shadow: 0 0 0 28px $bg-color inset !important;
	-webkit-box-shadow: 0 0 0 28px $bg-color inset !important;
	-webkit-text-fill-color: $green-color !important;
}

.input-bg {
	box-shadow: 0 0 0 28px $bg-color inset;
}

.textarea-bg {
	box-shadow: 0 0 0 74px $bg-color inset;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
	background-color: transparent !important;
	background: transparent;
	appearance: none !important;
	border: 2px solid $green-color;
	@include text-style(400, 18px, $green-color);
}

.input-wrapper {
	position: relative;
	width: 100%;
}

.validation-icon {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	display: none;
	background-size: contain;
	background-repeat: no-repeat;
}

textarea + .validation-icon {
	top: 10px;
	transform: none;
}

input.valid-input + .validation-icon,
textarea.valid-input + .validation-icon {
	display: block;
	background-image: url('./../../../assets/icons/icons/done.png');
}

input.invalid-input + .validation-icon,
textarea.invalid-input + .validation-icon {
	display: block;
	background-image: url('./../../../assets/icons/icons/error.png');
}

.checkbox-container {
	padding-top: 11px;
	display: flex;
	align-items: center;
	width: 18px;
	height: 18px;

	input[type='checkbox'] {
		display: none;
		-webkit-tap-highlight-color: transparent;
	}

	label {
		position: relative;
		cursor: pointer;
		padding-left: 30px;
		align-items: center;
		height: 18px;
		width: 18px;
		-webkit-tap-highlight-color: transparent;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			display: inline-block;
			transform: translateY(-50%);
			width: 12px;
			height: 12px;
			border: 2px solid $red-color;
			border-radius: 3px;
			background-color: transparent;
			@include transition();
		}
	}

	&.enabled input[type='checkbox']:checked + label::before {
		background-color: $green-color;
	}

	input[type='checkbox']:checked + label::after {
		content: '✔';
		position: absolute;
		left: 4px;
		top: 47%;
		transform: translateY(-50%);
		font-size: 10px;
		color: $red-color;
		font-weight: bold;
	}
}

.privacy-and-btn-container {
	padding-top: $inputs-gap;
	@include flex($dir: column);

	.privacy-checkbox-container {
		@include flex($gap: 8px);
	}

	.send-btn-container {
		@include flex($jc: flex-end);
	}
}

.privacy-text-container {
	p {
		line-height: 28px;
	}
}

.accept-privacy {
	height: 44px;
}

.privacy-text {
	span:first-child,
	span:last-child {
		@include text-style(400, 14px, $green-color);
	}

	a {
		@include transition();

		&:hover {
			font-weight: bold;
			filter: brightness(1.1);
		}
	}
}

.privacy-text-container .privacy-text a.hover-inactive {
	font-weight: normal;
	filter: brightness(1);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	min-height: 100vh;
	backdrop-filter: blur(1px);
	background-color: rgba($bg-color-bright, 0.3);
	border-radius: 15px;
	@include flex($jc: center, $ai: center);
	overflow-y: auto;
	@include transition();
	z-index: 10;
}

.success-message {
	@include flex($jc: center, $ai: center);
	background-color: rgba($bg-color, 0.9);
	border-radius: 5px;
	width: 60%;
	height: 40%;
	text-align: center;
	padding: 10%;

	h3 {
		padding-bottom: 0;
	}

	h3.message-failed {
		color: $error-color;
	}
}

.arrow-up-link-mobile {
	display: none;
}

.arrow-up-container {
	position: relative;
	width: 38px;
	height: 68px;
	-webkit-tap-highlight-color: transparent; /* Entfernt den blauen Highlight-Effekt */

	img {
		position: absolute;
		cursor: pointer;
		@include transition();
	}

	.default-image {
		top: 5.4px;
		left: 8px;
		width: 22px;
		height: 50px;
	}

	.hover-image {
		width: 38px;
		height: 62px;
		top: 0;
		left: 0;
	}
}

.my-details-mobile {
	display: none;
}

.social-media-container-mobile {
	display: none;

	.social-media-link {
		position: relative;
		width: 30px;
		height: 30px;

		img {
			position: absolute;
			cursor: pointer;
			@include transition();
			left: 0;
			bottom: 0;
			width: 30px;
			height: 30px;
		}
	}
}
