<div class="contact">
	<h2>{{ 'main.CONTACT.HEADER' | translate }}</h2>
	<div class="text">
		<div class="text-flex">
			<p class="green-regular-text">{{ 'main.CONTACT.TEXT' | translate }}</p>
			<!-- <p>{{ 'main.CONTACT.CONTACT_ME' | translate }}</p> -->
			<div class="my-details">
				<p>
					<span class="green-regular-text">{{ 'main.CONTACT.MY_EMAIL.TITLE' | translate }}</span>
					:
					<a class="green-regular-text hover" href="mailto:{{ 'main.CONTACT.MY_EMAIL.ADDRESS' | translate }}">
						{{ 'main.CONTACT.MY_EMAIL.ADDRESS' | translate }}
					</a>
				</p>
				<p>
					<span class="green-regular-text">{{ 'main.CONTACT.MY_PHONE.TITLE' | translate }}</span>
					:
					<a class="green-regular-text hover" href="tel:{{ 'main.CONTACT.MY_PHONE.NUMBER' | translate }}">
						{{ 'main.CONTACT.MY_PHONE.NUMBER' | translate }}
					</a>
				</p>
			</div>
		</div>
	</div>

	<form>
		<div class="inputs-flex">
			<div>
				<label for="name" class="sr-only">{{ 'main.CONTACT.NAME' | translate }}</label>
				<input type="text" id="name" name="name" placeholder="{{ 'main.CONTACT.NAME' | translate }}" required />
				<p>{{ 'main.CONTACT.NAME_REQ' | translate }}</p>

				<label for="email" class="sr-only">{{ 'main.CONTACT.MAIL' | translate }}</label>
				<input
					type="email"
					id="email"
					name="email"
					placeholder="{{ 'main.CONTACT.MAIL' | translate }}"
					required
				/>
				<p>{{ 'main.CONTACT.EMAIL_REQ' | translate }}</p>
			</div>
			<div>
				<label for="message" class="sr-only">{{ 'main.CONTACT.MSG' | translate }}</label>
				<textarea
					id="message"
					name="message"
					placeholder="{{ 'main.CONTACT.MSG' | translate }}"
					required
				></textarea>
				<p>{{ 'main.CONTACT.MSG_REQ' | translate }}</p>
			</div>
		</div>

		<div>
			<div>
				<input type="checkbox" id="privacy" name="privacy" required />
				<label for="privacy">{{ 'main.CONTACT.PRIVACY' | translate }}</label>
			</div>
			<p>{{ 'main.CONTACT.PRIVACY_REQ' | translate }}</p>
		</div>

		<button type="submit" class="btn btn-purple">{{ 'main.CONTACT.BTN' | translate }}</button>
	</form>
</div>
