<div class="atf-container">
	<div class="links">
		<p class="vertical-text">{{ 'main.ABOVE_THE_FOLD.CONTACT' | translate }}</p>
		<!-- <img src="../../../assets/icons/icons/red-arrow-down.png" alt="" />
		<img src="../../../assets/icons/icons/green-arrow-down.png" alt="" /> -->
		<div class="arrow-container" appHoverImage>
			<img src="../../../assets/icons/icons/red-arrow-down.png" alt="" class="default-image" />
			<img src="../../../assets/icons/icons/green-arrow-down.png" alt="" class="hover-image" />
		</div>
	</div>
	<div class="atf-content">
		<div class="atf-text">
			<div class="job-title">{{ 'main.ABOVE_THE_FOLD.TITLE' | translate }}</div>
			<h1>{{ 'main.ABOVE_THE_FOLD.NAME' | translate }}</h1>
		</div>
		<div class="atf-img">
			<img src="../../../assets/images/portraits/IMG_20221024_122749.jpg" alt="" />
		</div>
	</div>
</div>
