@import './../../../assets/css/variables.scss';
@import './../../../assets/css/mixins.scss';

.vertical-text {
	transform: rotate(270deg) translateX(-54px);
	transform-origin: top left;

	white-space: nowrap;
	display: block;
}

section {
	@include flex($jc: center, $ai: center);
}

.atf-container {
	@include flex($jc: flex-end, $dir: column);
}

.links {
	width: calc(1390px / 2);
	max-width: calc((100vw - 210px) / 2);
	@include flex($jc: space-between, $ai: flex-end);
	position: relative;
	bottom: 380px;

	.arrow-container {
		position: relative;
		width: 38px;
		height: 68px;

		img {
			position: absolute;
			cursor: pointer;
			@include transition();
		}

		.default-image {
			top: 10px;
			left: 8px;
			width: 22px;
			height: 50px;
		}

		.hover-image {
			width: 38px;
			height: 68px;
			top: 0;
			left: 0;
		}
	}
}

.atf-content {
	@include flex($jc: space-between, $ai: flex-end, $gap: 48px);
}

.atf-img img {
	width: 539px;
	height: 554px;
	object-fit: cover;
}

@media (max-width: 1600px) {
	section {
		height: auto;
		max-height: unset;
	}

	.atf-content {
		@include flex($jc: center, $ai: center, $dir: column-reverse, $gap: 32px);
	}

	.atf-text {
		text-align: center;
	}

	.links {
		right: 96px;
	}

	.arrow-container {
		display: none;
	}

	.atf-img img {
		width: 66vw;
		height: 69vw;
		max-width: min(539px, 100vh);
		max-height: min(554px, 105vh);
	}
}

@media (max-width: 1200px) {
	.links {
		display: none;
	}
}
