<div id="top" class="component-gap"></div>
<section>
	<div class="atf-container">
		<div class="atf-content">
			<div class="atf-text">
				<div class="job-title">{{ 'main.ABOVE_THE_FOLD.TITLE' | translate }}</div>
				<h1>{{ 'main.ABOVE_THE_FOLD.NAME' | translate }}</h1>
			</div>
			<div class="atf-img">
				<img src="../../../assets/images/portraits/portrait-1.png" alt="" />
			</div>
		</div>
		<div class="links">
			<a href="#contact">
				<p class="vertical-text btn btn-purple">{{ 'main.ABOVE_THE_FOLD.CONTACT' | translate }}</p>
			</a>

			<!-- <img src="../../../assets/icons/icons/red-arrow-down.png" alt="" />
		<img src="../../../assets/icons/icons/green-arrow-down.png" alt="" /> -->
			<a href="#about">
				<div class="arrow-container" appHoverImage>
					<img src="../../../assets/icons/icons/red-arrow-down.png" alt="" class="default-image" />
					<img src="../../../assets/icons/icons/green-arrow-down.png" alt="" class="hover-image" />
				</div>
			</a>
		</div>
		<!-- <div class="atf-content">
			<div class="atf-text">
				<div class="job-title">{{ 'main.ABOVE_THE_FOLD.TITLE' | translate }}</div>
				<h1>{{ 'main.ABOVE_THE_FOLD.NAME' | translate }}</h1>
			</div>
			<div class="atf-img">
				<img src="../../../assets/images/portraits/portrait-1.png" alt="" />
			</div>
		</div> -->
	</div>
</section>
