<div class="atf-container">
	<div class="links">
		<p class="vertical-text">{{ 'main.ABOVE_THE_FOLD.CONTACT' | translate }}</p>
		<img src="../../../assets/icons/icons/red-arrow-down.png" alt="" />
	</div>
	<div class="atf-content">
		<div class="atf-text">
			<p>{{ 'main.ABOVE_THE_FOLD.TITLE' | translate }}</p>
			<p>{{ 'main.ABOVE_THE_FOLD.NAME' | translate }}</p>
		</div>
		<div class="atf-img">
			<img src="../../../assets/images/portraits/IMG_20221024_122749.jpg" alt="" />
		</div>
	</div>
</div>
