<div class="legal-page">
	<h2>{{ 'legal.LEGAL.HEADER' | translate }}</h2>
	<h4>{{ 'legal.LEGAL.SUBHEADER' | translate }}</h4>

	<div>
		<strong>{{ 'legal.LEGAL.OPERATOR.TITLE' | translate }}</strong>
		{{ 'legal.LEGAL.OPERATOR.TEXT' | translate }}
	</div>

	<div>
		<strong>{{ 'legal.LEGAL.ADDRESS.TITLE' | translate }}</strong>
		{{ 'legal.LEGAL.ADDRESS.TEXT' | translate }}
	</div>

	<div>
		<strong>{{ 'legal.LEGAL.CONTACT.TITLE' | translate }}</strong>
		<a [href]="'mailto:' + ('legal.LEGAL.CONTACT.TEXT' | translate)">
			{{ 'legal.LEGAL.CONTACT.TEXT' | translate }}
		</a>
	</div>

	<div>
		<strong>{{ 'legal.LEGAL.LAW.TITLE' | translate }}</strong>
		{{ 'legal.LEGAL.LAW.TEXT' | translate }}
	</div>

	<div>
		<strong>{{ 'legal.LEGAL.COPYRIGHT.TITLE' | translate }}</strong>
		<p>{{ 'legal.LEGAL.COPYRIGHT.TEXT' | translate }}</p>
	</div>

	<div>
		<strong>{{ 'legal.LEGAL.DISCLAIMER.TITLE' | translate }}</strong>
		<p>{{ 'legal.LEGAL.DISCLAIMER.EXTERNAL_LINKS' | translate }}</p>
		<p>{{ 'legal.LEGAL.DISCLAIMER.THIRD_PARTIES' | translate }}</p>
	</div>

	<div>
		<strong>{{ 'legal.LEGAL.SOURCE.TITLE' | translate }}</strong>
		<a [href]="'legal.LEGAL.SOURCE.LINK' | translate" target="_blank">
			{{ 'legal.LEGAL.SOURCE.TEXT' | translate }}
		</a>
	</div>
</div>

<!-- <div class="legal-page">
	<h2>{{ 'legal.LEGAL.LEGAL_1' | translate }}</h2>
	<div [innerHTML]="'legal.LEGAL.LEGAL_2' | translate"></div>
	<div [innerHTML]="'legal.LEGAL.LEGAL_3' | translate"></div>
	<div [innerHTML]="'legal.LEGAL.LEGAL_4' | translate"></div>
	<div [innerHTML]="'legal.LEGAL.LEGAL_5' | translate"></div>
</div>

<a href="legal.LEGAL.SOURCE.LINK ">Imprint Generator Austria</a>

<h4>Impressum</h4>
<p><b>Informationen und Offenlegung gemäß &sect;5 (1) ECG, &sect; 25 MedienG, &sect; 63 GewO und &sect; 14 UGB</b></p>
<p>
	<b>Webseitenbetreiber:</b>
	Martin Messirek
</p>
<p>
	<b>Anschrift:</b>
	Elmargasse 1, 1190 Wien
</p>
<p>
	<b>Kontaktdaten:</b>
	<br />
	Telefon: 0043 6706074886
	<br />
	Email: martinmessirek&#64;hotmail.com
</p>

<p>
	<b>Anwendbare Rechtsvorschrift:</b>
	www.ris.bka.gv.at
	<br />
</p>
<p>
	<b>Urheberrecht:</b>
	Die Inhalte dieser Webseite unterliegen, soweit dies rechtlich möglich ist, diversen Schutzrechten (z.B dem
	Urheberrecht). Jegliche Verwendung/Verbreitung von bereitgestelltem Material, welche urheberrechtlich untersagt ist,
	bedarf schriftlicher Zustimmung des Webseitenbetreibers.
</p>
<p>
	<b>Haftungsausschluss:</b>
	Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Webseitenbetreiber dieser Webseite keine Haftung für die
	Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
	Sollten Sie dennoch auf ausgehende Links aufmerksam werden, welche auf eine Webseite mit rechtswidriger
	Tätigkeit/Information verweisen, ersuchen wir um dementsprechenden Hinweis, um diese nach § 17 Abs. 2 ECG umgehend
	zu entfernen.
	<br />
	Die Urheberrechte Dritter werden vom Betreiber dieser Webseite mit größter Sorgfalt beachtet. Sollten Sie trotzdem
	auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden
	derartiger Rechtsverletzungen werden wir den betroffenen Inhalt umgehend entfernen.
</p>
<p>
	Quelle:
	<b>
		<a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php">
			Impressum Generator Österreich
		</a>
	</b>
</p>

<h4>Imprint</h4>
<p>Information and Disclosure according to &sect;5 (1) ECG, &sect; 25 MedienG, &sect; 63 GewO und &sect; 14 UGB</p>
<p>
	<b>Website Operator:</b>
	Martin Messirek
</p>
<p>
	<b>Address:</b>
	Elmargasse 1, 1190 Vienna
</p>
<p>
	<b>Contact Details:</b>
	<br />
	Phone: 0043 6706074886
	<br />
	Email: martinmessirek&#64;hotmail.com
</p>

<p>
	<b>Applicable Legal Provisions:</b>
	www.ris.bka.gv.at
	<br />
</p>
<p>
	<b>Copyright:</b>
	The content of this website is, as far as legally possible, subject to various protections (e.g., copyright). Any
	use/distribution of provided material that is prohibited by copyright requires written permission from the website
	operator.
</p>
<p>
	<b>Disclaimer:</b>
	Despite careful content control, the website operator assumes no liability for the content of external links. The
	content of the linked pages is solely the responsibility of their operators. If you come across outgoing links
	pointing to websites with illegal activity/information, we kindly ask you to inform us, so that we can promptly
	remove them according to &sect; 17 Abs. 2 ECG.
	<br />
	The copyright of third parties is strictly observed by the operator of this website. If you still notice a copyright
	infringement, please inform us accordingly. Upon becoming aware of such legal violations, we will promptly remove
	the affected content.
</p>
<p>
	Source:
	<b>
		<a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php">Imprint Generator Austria</a>
	</b>
</p> -->
