<div class="legal-page">
	<div class="content-wrapper">
		<h2>{{ 'legal.LEGAL.HEADER' | translate }}</h2>
		<h4>{{ 'legal.LEGAL.SUBHEADER' | translate }}</h4>

		<div>
			<strong>{{ 'legal.LEGAL.OPERATOR.TITLE' | translate }}</strong>
			{{ 'legal.LEGAL.OPERATOR.TEXT' | translate }}
		</div>

		<div>
			<strong>{{ 'legal.LEGAL.ADDRESS.TITLE' | translate }}</strong>
			{{ 'legal.LEGAL.ADDRESS.TEXT' | translate }}
		</div>

		<div>
			<strong>{{ 'legal.LEGAL.CONTACT.TITLE' | translate }}</strong>
			<a [href]="'mailto:' + ('legal.LEGAL.CONTACT.TEXT' | translate)">
				{{ 'legal.LEGAL.CONTACT.TEXT' | translate }}
			</a>
		</div>

		<div>
			<strong>{{ 'legal.LEGAL.LAW.TITLE' | translate }}</strong>
			{{ 'legal.LEGAL.LAW.TEXT' | translate }}
		</div>

		<div>
			<strong>{{ 'legal.LEGAL.COPYRIGHT.TITLE' | translate }}</strong>
			<p>{{ 'legal.LEGAL.COPYRIGHT.TEXT' | translate }}</p>
		</div>

		<div>
			<strong>{{ 'legal.LEGAL.DISCLAIMER.TITLE' | translate }}</strong>
			<p>{{ 'legal.LEGAL.DISCLAIMER.EXTERNAL_LINKS' | translate }}</p>
			<p>{{ 'legal.LEGAL.DISCLAIMER.THIRD_PARTIES' | translate }}</p>
		</div>

		<div>
			<strong>{{ 'legal.LEGAL.SOURCE.TITLE' | translate }}</strong>
			<a [href]="'legal.LEGAL.SOURCE.LINK' | translate" target="_blank">
				{{ 'legal.LEGAL.SOURCE.TEXT' | translate }}
			</a>
		</div>
	</div>
</div>
