@import '../../../assets/css/mixins.scss';
@import '../../../assets/css/variables.scss';

.legal-page {
	@include flex(center, normal, row, 0);
	color: $white-color;
}

.content-wrapper {
	max-width: 1600px;
	padding: 120px 105px 65px;
}
