<header>
	<div class="menu-btn-container">
		<div class="menu">
			<p class="logo">
				<span>{{ 'shared.HEADER.LOGO' | translate }}</span>
			</p>
			<nav>
				<ul>
					<li>{{ 'shared.HEADER.NAV.ABOUT' | translate }}</li>
					<li>{{ 'shared.HEADER.NAV.SKILLS' | translate }}</li>
					<li>{{ 'shared.HEADER.NAV.PORTFOLIO' | translate }}</li>
					<li>{{ 'shared.HEADER.NAV.CONTACT' | translate }}</li>
					<!-- <li>{{ '' | translate }}</li> -->
				</ul>
			</nav>
		</div>

		<div class="btn-container">
			<button class="language-button" [ngClass]="{ active: currentLang === 'en' }" (click)="toggleLanguage('en')">
				EN
			</button>
			<button class="language-button" [ngClass]="{ active: currentLang === 'de' }" (click)="toggleLanguage('de')">
				DE
			</button>
		</div>

		<div class="mobile-menu-btn"><img src="./../../../assets/icons/icons/burger menu.png" alt="" /></div>
	</div>
</header>
