@import '../../../assets/css/variables.scss';

// .app-container {
// 	display: flex;
// 	justify-content: center;
// }

// .content-wrapper {
// 	max-width: 1600px;
// 	padding: 0px 105px 65px;
// }

header {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	background-color: $bg-color;
}

.menu-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 24px 35px;
	width: calc(100vw - 280px);
	max-width: 1320px;
}
.menu {
	display: flex;
	align-items: center;
}

.logo {
	line-height: 64px;
	width: 64px;
	color: $red-color;
	font-size: 48px;
	border-radius: 50%;
	background: radial-gradient(at 35% 25%, white, $bg-color, $bg-color-light);
	// background: radial-gradient(at 35% 25%, white, $bg-color-light, $bg-color, black);
	// background: radial-gradient(at 35% 25%, white, $bg-color, black);
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		text-shadow: 1px 0px 1px black;
	}
}

nav {
}
ul {
	display: flex;
	gap: 32px;

	list-style: none;
}

li {
	width: 110px;
	text-align: center;
}

.btn-container button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}
