<header>
	<div class="menu-and-lang-btn-container">
		<div class="menu">
			<p class="logo">
				<span>{{ 'shared.HEADER.LOGO' | translate }}</span>
			</p>
			<nav>
				<ul>
					<li>{{ 'shared.HEADER.NAV.ABOUT' | translate }}</li>
					<li>{{ 'shared.HEADER.NAV.SKILLS' | translate }}</li>
					<li>{{ 'shared.HEADER.NAV.PORTFOLIO' | translate }}</li>
					<li>{{ 'shared.HEADER.NAV.CONTACT' | translate }}</li>
					<!-- <li>{{ '' | translate }}</li> -->
				</ul>
			</nav>
		</div>

		<div class="lang-btn-container">
			<button class="language-button" [ngClass]="{ active: currentLang === 'en' }" (click)="toggleLanguage('en')">
				EN
			</button>
			<button class="language-button" [ngClass]="{ active: currentLang === 'de' }" (click)="toggleLanguage('de')">
				DE
			</button>
		</div>

		<div class="mobile-menu-btn-container">
			<img
				class="mobile-menu-btn"
				(click)="toggleMenu()"
				src="./../../../assets/icons/icons/burger-menu.png"
				alt="Open Menu"
			/>
		</div>
	</div>
</header>

<div class="overlay" [class.open]="isMenuOpen" (click)="toggleMenu()">
	<div class="close-btn-container">
		<img
			class="close-btn"
			(click)="$event.stopPropagation(); toggleMenu()"
			src="./../../../assets/icons/icons/burger-menu-close.png"
			alt="Close Menu"
		/>
	</div>

	<div class="mobile-menu">
		<ul (click)="$event.stopPropagation()">
			<li>{{ 'shared.HEADER.NAV.ABOUT' | translate }}</li>
			<li>{{ 'shared.HEADER.NAV.SKILLS' | translate }}</li>
			<li>{{ 'shared.HEADER.NAV.PORTFOLIO' | translate }}</li>
			<li>{{ 'shared.HEADER.NAV.CONTACT' | translate }}</li>
			<li>
				<button
					class="language-button"
					[ngClass]="{ active: currentLang === 'en' }"
					(click)="toggleLanguage('en')"
				>
					EN
				</button>
				<button
					class="language-button"
					[ngClass]="{ active: currentLang === 'de' }"
					(click)="toggleLanguage('de')"
				>
					DE
				</button>
			</li>
		</ul>
	</div>
</div>

<!-- <div class="overlay-bg">
	<div class="overlay">
		<div class="mobile-menu-header">
			<div class="mobile-menu-close-btn-container">
				<img class="mobile-menu-close-btn" src="./../../../assets/icons/icons/burger-menu-close.png" alt="" />
			</div>
		</div>
		<div class="mobile-menu-body">
			<ul>
				<li>{{ 'shared.HEADER.NAV.ABOUT' | translate }}</li>
				<li>{{ 'shared.HEADER.NAV.SKILLS' | translate }}</li>
				<li>{{ 'shared.HEADER.NAV.PORTFOLIO' | translate }}</li>
				<li>{{ 'shared.HEADER.NAV.CONTACT' | translate }}</li>
				<li>
					<button
						class="language-button"
						[ngClass]="{ active: currentLang === 'en' }"
						(click)="toggleLanguage('en')"
					>
						EN
					</button>
					<button
						class="language-button"
						[ngClass]="{ active: currentLang === 'de' }"
						(click)="toggleLanguage('de')"
					>
						DE
					</button>
				</li>
			</ul>
		</div>
	</div>
</div> -->
