@import '../../../assets/css/variables.scss';
@import '../../../assets/css/mixins.scss';

header {
	@include flex($jc: center, $ai: center);
	// display: none;
	position: fixed;
	width: 100%;
	background: linear-gradient(
		to bottom,
		$bg-color 40%,
		rgba($bg-color, 0.9) 60%,
		rgba($bg-color, 0.8) 70%,
		rgba($bg-color, 0.7) 80%,
		rgba($bg-color, 0.6) 85%,
		rgba($bg-color, 0.5) 90%,
		rgba($bg-color, 0.4) 95%,
		rgba($bg-color, 0.3) 100%
	);
	z-index: 8;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(150deg, $bg-color 25%, $bg-color-mobile);
	// backdrop-filter: blur(0px); // Anfangszustand (kein Blur)
	// z-index: 9;
	@include flex($jc: center, $ai: flex-start);
	overflow-y: auto;
	// transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
	@include transition();
	transform: translateX(100%);
	opacity: 0; // Unsichtbar beim Start
}

// body.no-scroll {
// 	overflow: hidden;
// 	//   height: 100vh; // Verhindert Sprünge bei mobilem Scrollen
// }

.overlay.open {
	// Klasse, die mit Angulars [class.open] verknüpft ist
	// @include flex($jc: center, $ai: flex-start);
	z-index: 9;
	opacity: 1; // Voll sichtbar
	// backdrop-filter: blur(10px); // Weicher Blur-Effekt
	transform: translateX(0);
}

.menu-and-lang-btn-container {
	//////////////////////////////////
	padding: 24px 35px;
	width: calc(100vw - 280px);
	max-width: 1320px;
}
.menu-and-lang-btn-container {
	@include flex($jc: space-between, $ai: center);
}

@media (max-width: 1400px) {
	.menu-and-lang-btn-container {
		width: calc(100vw - 14vw);
	}
}
// .content-wrapper {
// 	max-width: 1600px;
// 	padding: 0px 105px 65px;
// }

// @media (max-width: 1400px) {
// 	.content-wrapper {
// 		padding-left: 7vw;
// 		padding-right: 7vw;
// 	}
// }

// @media (max-width: 768px) {
// 	.content-wrapper {
// 		padding-left: 6vw;
// 		padding-right: 6vw;
// 	}
// }

.menu {
	@include flex($ai: center);
}

.logo {
	line-height: 64px;
	width: 64px;
	color: $red-color;
	font-size: 48px;
	border-radius: 50%;
	background: radial-gradient(at 35% 25%, white, $bg-color, $bg-color-light);
	@include flex($jc: center, $ai: center);
	cursor: pointer;
	@include transition();
	span {
		text-shadow: 1px 0px 1px black;
	}
	&:hover {
		filter: brightness(1.1);
	}
}

ul {
	list-style: none;
}

nav ul {
	@include flex($gap: 32px);

	li {
		width: 110px;
		text-align: center;
	}
}

li {
	// width: clamp(110px, 7vw, 110px);

	// text-align: center;
	@include text-style(500, 22px, $red-color); // 500 18
	cursor: pointer;
	@include transition();
	&:hover {
		color: $green-color;
	}
}

// .lang-btn-container button {
// 	background: none;
// 	outline: none;
// 	border: none;
// }

.language-button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	@include transition();

	&.active {
		@include text-style(700, 18px, $green-color);
		cursor: default; // Kein Pointer für aktive Sprache
	}

	&:not(.active) {
		@include text-style(700, 18px, $red-color);

		&:hover {
			color: $green-color; // Beim Hover grün färben
		}
	}
}

.close-btn-container {
	position: absolute;
	top: 24px;
	right: calc(35px + 7vw);
	z-index: 10;
	height: 64px;
	@include flex($ai: center);
}

.mobile-menu-btn {
	width: 32px;
	height: 28px;
}

.close-btn {
	width: 35px;
	height: 32px;
}

.mobile-menu-btn-container {
	display: none;
}

.mobile-menu-btn,
.close-btn {
	// display: none;
	cursor: pointer;
	@include transition();

	&:hover {
		transform: scale(1.1);
		filter: brightness(1.1);
	}
	// padding-right: 300px;
}

.mobile-menu {
	padding-top: 104px;

	ul {
		padding: 0;
		@include flex($ai: center, $dir: column, $gap: 48px);
	}

	li {
		// padding-bottom: 48px;
	}
}

// .mobile-menu ul {
// 	@include flex($ai: center);
// }

@media (max-width: 1400px) {
	.menu-and-lang-btn-container {
		width: calc(100vw - 14vw);
	}
}

@media (max-width: 960px) {
	nav ul li {
		width: 100px;
		font-size: 19px;
	}
}

@media (max-width: 896px) {
	nav,
	.lang-btn-container {
		display: none;
	}

	.mobile-menu-btn-container
	// .mobile-menu-btn,
	// .close-btn
	{
		display: block;
	}
}

@media (min-width: 897px) {
	.overlay {
		display: none;
	}
}
