<header>
	<div class="menu-container">
		<div class="menu">
			<p class="logo">
				<span>{{ 'shared.HEADER.LOGO' | translate }}</span>
			</p>
			<nav>
				<ul class="red-22">
					<li>{{ 'shared.HEADER.NAV.ABOUT' | translate }}</li>
					<li>{{ 'shared.HEADER.NAV.SKILLS' | translate }}</li>
					<li>{{ 'shared.HEADER.NAV.PORTFOLIO' | translate }}</li>
					<li>{{ 'shared.HEADER.NAV.CONTACT' | translate }}</li>
				</ul>
			</nav>
		</div>

		<div class="btn-container">
			<button
				(click)="toggleLanguage('en')"
				[ngClass]="{ 'green-18': currentLang == 'en', 'red-18': currentLang !== 'en' }"
			>
				EN
			</button>
			<button
				(click)="toggleLanguage('de')"
				[ngClass]="{ 'green-18': currentLang == 'de', 'red-18': currentLang !== 'de' }"
			>
				DE
			</button>
		</div>
	</div>
</header>
