// @mixin flex($jc: center, $ai: center, $dir: row, $gap: 0px) {
// 	display: flex;
// 	justify-content: $jc;
// 	align-items: $ai;
// 	flex-direction: $dir;
// 	gap: $gap;
// }

@mixin flex($jc, $ai, $dir, $gap) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
	flex-direction: $dir;
	gap: $gap;
}

@mixin transition() {
	transition: all 85ms ease-out;
}

@mixin text-style($weight, $size, $color) {
	font-weight: $weight;
	font-size: $size;
	color: $color;
}
