$bg-color: hsl(250, 84%, 10%);
$bg-color-bright: hsl(245, 69%, 48%);
// $bg-color-bright: hsl(244, 60%, 35%);
$bg-color-light: hsl(245, 69%, 29%);
// $bg-color-mobile: hsl(247, 78%, 16%);
$bg-color-mobile: hsl(250, 70%, 30%);
$red-color: #e15544;
$green-color: #02f4bf;
$white-color: #fff;
$grey-color: #827b7b;
$error-color: #f92103;
$done-color: #61e106;
