<div class="privacy-policy">
	<div class="content-wrapper">
		<h3>{{ 'legal.PRIVACY.TITLE' | translate }}</h3>
		<h2>{{ 'legal.PRIVACY.CENTER_TITLE' | translate }}</h2>

		<div class="privacy-intro">
			<h5>{{ 'legal.PRIVACY.INTRO.DATA_COLLECTION' | translate }}</h5>
			<p>{{ 'legal.PRIVACY.INTRO.IP' | translate }}</p>
		</div>

		<div class="privacy-data-storage">
			<h5>{{ 'legal.PRIVACY.DATA_STORAGE.HEADER' | translate }}</h5>
			<p>{{ 'legal.PRIVACY.DATA_STORAGE.TEXT' | translate }}</p>
		</div>

		<div class="privacy-server-logs">
			<h5>{{ 'legal.PRIVACY.SERVER_LOGS.HEADER' | translate }}</h5>
			<p>{{ 'legal.PRIVACY.SERVER_LOGS.INTRO' | translate }}</p>
			<ul>
				<li *ngFor="let item of 'legal.PRIVACY.SERVER_LOGS.LIST' | translate">
					{{ item }}
				</li>
			</ul>
			<p>{{ 'legal.PRIVACY.SERVER_LOGS.COLLECTION' | translate }}</p>
			<p>{{ 'legal.PRIVACY.SERVER_LOGS.CHECK' | translate }}</p>
		</div>

		<div class="privacy-rights">
			<h5>{{ 'legal.PRIVACY.RIGHTS.HEADER' | translate }}</h5>
			<p>{{ 'legal.PRIVACY.RIGHTS.INTRO' | translate }}</p>
			<ul>
				<li *ngFor="let right of 'legal.PRIVACY.RIGHTS.LIST' | translate">
					{{ right }}
				</li>
			</ul>
			<p>{{ 'legal.PRIVACY.RIGHTS.TEXT' | translate }}</p>
		</div>

		<div class="privacy-contact">
			<h5>{{ 'legal.PRIVACY.CONTACT.HEADER' | translate }}</h5>
			<p>
				<strong>{{ 'legal.PRIVACY.CONTACT.OPERATOR.HEADER' | translate }}</strong>
				{{ 'legal.PRIVACY.CONTACT.OPERATOR.TEXT' | translate }}
			</p>
			<p>
				<strong>{{ 'legal.PRIVACY.CONTACT.EMAIL.HEADER' | translate }}</strong>
				<a [href]="'mailto:' + ('legal.PRIVACY.CONTACT.EMAIL.TEXT' | translate)">
					{{ 'legal.PRIVACY.CONTACT.EMAIL.TEXT' | translate }}
				</a>
			</p>
		</div>

		<div class="privacy-source">
			<p>
				{{ 'legal.PRIVACY.SOURCE.HEADER' | translate }}

				<a [href]="'legal.PRIVACY.SOURCE.LINK' | translate" target="_blank">
					{{ 'legal.PRIVACY.SOURCE.TEXT' | translate }}
				</a>
			</p>
		</div>
	</div>
</div>
