@import '../../../assets/css/variables.scss';
@import '../../../assets/css/mixins.scss';

.about-me {
	@include flex(normal, normal, row, 6vw);
}

.portrait {
	width: 300px;
	height: auto;
}
.description {
	min-height: 112px;
}

.grid-container {
	max-width: 640px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding: 48px 0 36px; //################################################################################################## padding top verringern bei großem Bildschirm
}

.grid-item {
	@include flex(normal, normal, column, 24px);
}

.grid-item:last-child {
	@include flex(flex-end, normal, row, 0px);
}

.flex-container {
	@include flex(normal, flex-end, row, 16px);
}

.align-right {
	text-align: right;
}

.arrow {
	&-down {
		width: 23px;
		height: 56px;
	}
	&-up {
		width: 35px;
		height: 44px;
	}
	&-twisted {
		width: 36px;
		height: 60px;
	}
}

.text {
}

.arrow-container {
	width: 100%;
	@include flex(space-between, normal, row, 0px);
}

.flex-end {
	@include flex(flex-end, normal, row, 0px);
}
button {
	cursor: pointer;
	background-color: $green-color;
	min-width: 169px;
	height: 52px;
	padding: 15px 30px;
}
