@import '../../../assets/css/variables.scss';
@import '../../../assets/css/mixins.scss';

.about-me {
	@include flex($gap: 6vw);
}

.portrait {
	width: 300px;
	height: auto;
}

.description {
	min-height: 112px;
	padding-top: 16px;
	@include text-style(400, 16px, $green-color);
}

.grid-container {
	max-width: 640px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding: 48px 0 36px; //##################################################################################################
	// padding top verringern bei großem Bildschirm
}

.intro {
	@include text-style(700, 48px, $red-color);
}

.grid-item {
	@include flex($dir: column, $gap: 24px);
	img {
		cursor: pointer;
	}
}

.grid-item:last-child {
	@include flex($jc: flex-end, $dir: column, $gap: 24px);
}

.flex-container {
	@include flex($ai: flex-end, $gap: 16px);
}

.align-right {
	text-align: right;
}

.arrow {
	&-down {
		width: 23px;
		height: 56px;
	}
	&-up {
		width: 35px;
		height: 44px;
	}
	&-twisted {
		width: 36px;
		height: 60px;
	}
}

.arrow-container {
	width: 100%;
	@include flex($jc: space-between);
}

.flex-end {
	@include flex($jc: flex-end);
}

button {
	min-width: 169px;
	height: 52px;
	padding: 15px 30px;
	@include text-style(500, 18px, $bg-color);
	background-color: $green-color;
	cursor: pointer;
	&:hover {
		color: $red-color;
	}
}

@media (max-width: 768px) {
	.intro {
		font-size: 18px;
	}

	button {
		font-size: 16px;
		font-weight: 400;
	}
}
