<div id="about" class="component-gap"></div>
<div class="about-me">
	<img
		class="portrait"
		src="../../../assets/images/portraits/portrait-1.png"
		alt="Portrait"
		appScrollAnimate="flip-animation"
		[rootMargin]="'-100px'"
	/>
	<div class="text" appScrollAnimate="fade-right" [rootMargin]="'-100px'">
		<h2>{{ 'main.ABOUT_ME.TITLE' | translate }}</h2>
		<p class="description">{{ 'main.ABOUT_ME.DESCRIPTION' | translate }}</p>

		<div class="flex-style">
			<div class="grid-container">
				<div class="arrow-5-1-container mobile-view">
					<img class="arrow-5-1-mobile" src="../../../assets/icons/icons/arrow-5-1.png" alt="" />
				</div>
				<div class="grid-item">
					<p class="intro">{{ 'main.ABOUT_ME.INTRO' | translate }}</p>
				</div>
				<div class="grid-item">
					<div class="flex-container ubication-flex-container mobile-flex-container">
						<div class="ubication-container">
							<img class="ubication" src="../../../assets/icons/icons/ubication.png" alt="Location" />
							<div class="icon-container-located" appHoverImage>
								<img alt="" class="default-image dummy-img" />
								<img class="hover-image" src="../../../assets/icons/icons/ellipse.png" alt="Location" />
							</div>
						</div>

						<div class="green-regular-text inline-text">
							<p>{{ 'main.ABOUT_ME.LOCATION.1' | translate }}</p>
							<p>{{ 'main.ABOUT_ME.LOCATION.2' | translate }}</p>
						</div>
					</div>
					<img class="arrow-5-1" src="../../../assets/icons/icons/arrow-5-1.png" alt="" />
					<div class="flex-container desktop-view remote-flex-container">
						<div class="icon-container-remote" appHoverImage>
							<img
								src="../../../assets/icons/icons/remote-work.png"
								alt="Remote Work"
								class="default-image"
							/>
							<img
								src="../../../assets/icons/icons/remote-work-2.png"
								alt="Remote Work"
								class="hover-image"
							/>
						</div>
						<div class="green-regular-text">
							<p>{{ 'main.ABOUT_ME.REMOTE.1' | translate }}</p>
							<p>{{ 'main.ABOUT_ME.REMOTE.2' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="grid-item">
					<div class="flex-container mobile-flex-container">
						<div class="icon-container-relocate" appHoverImage>
							<img
								src="../../../assets/icons/icons/relocate.png"
								alt="Relocation"
								class="default-image"
							/>
							<img
								src="../../../assets/icons/icons/relocate-2.png"
								alt="Relocation"
								class="hover-image"
							/>
						</div>
						<div class="green-regular-text inline-text">
							<p>{{ 'main.ABOUT_ME.RELOCATE.1' | translate }}</p>
							<p>{{ 'main.ABOUT_ME.RELOCATE.2' | translate }}</p>
						</div>
					</div>
					<div class="arrow-container desktop-view">
						<img class="arrow-4" src="../../../assets/icons/icons/arrow-4.png" alt="" />
						<img class="arrow-1" src="../../../assets/icons/icons/arrow-1.png" alt="" />
					</div>
				</div>
				<div class="mobile-remote mobile-view">
					<div class="flex-container mobile-flex-container">
						<div class="icon-container-remote" appHoverImage>
							<img
								src="../../../assets/icons/icons/remote-work.png"
								alt="Remote Work"
								class="default-image mobile-remote-img"
							/>
							<img
								src="../../../assets/icons/icons/remote-work-2.png"
								alt="Remote Work"
								class="hover-image mobile-remote-img"
							/>
						</div>
						<div class="green-regular-text inline-text mobile-remote-text">
							<p>{{ 'main.ABOUT_ME.REMOTE.1' | translate }}</p>
							<p>{{ 'main.ABOUT_ME.REMOTE.2' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="arrow-5-2-container mobile-view">
					<img class="arrow-5-2" src="../../../assets/icons/icons/arrow-5-2.png" alt="" />
				</div>
			</div>
		</div>
		<div class="btn-container">
			<a href="#contact" class="btn btn-green" appTimedHover>
				{{ 'main.ABOUT_ME.CONTACT' | translate }}
			</a>
		</div>
	</div>
</div>
