@import '../../../assets/css/variables.scss';
@import '../../../assets/css/mixins.scss';

.skill-logo-title,
.continuous-learning {
	@include text-style(700, 18px, $green-color); // --
	// @include transition();
}

// .skills-container {
// 	@include flex($jc: center);
// }

.skills {
	@include flex($gap: 120px);
	flex-wrap: wrap;
	// padding-bottom: 112px;
}
//      @include flex($jc: center, $ai: center, $dir: column, $gap: 14px);
.skill-logo {
	width: 88px;
	height: 125px;
	@include flex($ai: center, $dir: column, $gap: 10px);
}

img {
	display: block;
	width: 60px;
	height: 60px;
	background-color: $green-color;
}

.skill-logo p {
	text-align: center;
}

.appHoverImage {
	@include flex($ai: center, $gap: 38px); // 120 minus halbe pop-up-Breite plus halbe skill-logo-Breite
	position: relative;
}

.pop-up {
	display: none;
	max-width: 252px;
	// text-align: center;
	visibility: hidden;
	opacity: 0;
	@include transition();
}

// .pop-up.visible {
// 	display: block;
// 	visibility: visible;
// 	opacity: 1;
// }

// p {
// 	@include text-style(700, 18px, $green-color); // logo and pop up text 400 16
// }

@media (max-width: 1600px) {
	.skills {
		display: grid;
		grid-template-columns: repeat(5, 1fr); // Standardmäßig 5 Spalten
		gap: clamp(30px, 5vw, 120px);
		// gap: 8vw;
		justify-content: flex-start; // Startet links, keine Zentrierung
		justify-items: center;
		// justify-content: center;
	}

	.pop-up {
		// width: 180px;
		position: absolute;
		left: min(25vw, 160px);
		// left: 120px;
	}
}

@media (max-width: 1200px) {
	h2 {
		text-align: center;
	}

	.skills {
		// justify-content: center;
	}
}

@media (max-width: 896px) {
	.skills {
		grid-template-columns: repeat(4, 1fr); // 4 Spalten
	}
}
// @media (max-width: 960px) {
// 	h2 {
// 		text-align: center;
// 	}

// 	.skills {
// 		justify-content: center;
// 	}
// }
@media (max-width: 768px) {
	.skills {
		grid-template-columns: repeat(3, 1fr);
		// gap: 80px;
	}
	//      @include flex($jc: center, $ai: center, $dir: column, $gap: 14px);

	img {
		width: 50px;
		height: 50px;
	}

	.skill-logo-title {
		display: none;
	}

	.continuous-learning {
		font-size: 17px;
		font-weight: 400;
	}
}

@media (max-width: 580px) {
	.skills {
		// gap: 50px;
	}

	img {
		width: 45px;
		height: 45px;
	}

	.continuous-learning {
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	.skills {
		gap: 15px;
	}
	//      @include flex($jc: center, $ai: center, $dir: column, $gap: 14px);
}
