<div id="skills" class="component-gap"></div>
<h2>{{ 'main.SKILLS.HEADER' | translate }}</h2>
<!-- <div class="skills-container"> -->
<div class="skills">
	<!-- <p class="skill-logo-title">{{ 'main.SKILLS.ANGULAR' | translate }}</p>
	<p class="skill-logo-title">{{ 'main.SKILLS.TYPESCRIPT' | translate }}</p>
	<p class="skill-logo-title">{{ 'main.SKILLS.JAVASCRIPT' | translate }}</p>
	<p class="skill-logo-title">{{ 'main.SKILLS.HTML' | translate }}</p>
	<p class="skill-logo-title">{{ 'main.SKILLS.CSS' | translate }}</p>
	<p class="skill-logo-title">{{ 'main.SKILLS.API' | translate }}</p>
	<p class="skill-logo-title">{{ 'main.SKILLS.FIREBASE' | translate }}</p>
	<p class="skill-logo-title">{{ 'main.SKILLS.GIT' | translate }}</p>
	<p class="skill-logo-title">{{ 'main.SKILLS.SCRUM' | translate }}</p>
	<p class="skill-logo-title">{{ 'main.SKILLS.MATERIAL' | translate }}</p> -->

	<div class="skill-logo">
		<img src="path/to/angular-logo.png" alt="Angular" />
		<p class="skill-logo-title">{{ 'main.SKILLS.ANGULAR' | translate }}</p>
	</div>

	<div class="skill-logo">
		<img src="path/to/typescript-logo.png" alt="TypeScript" />
		<p class="skill-logo-title">{{ 'main.SKILLS.TYPESCRIPT' | translate }}</p>
	</div>

	<div class="skill-logo">
		<img src="path/to/javascript-logo.png" alt="JavaScript" />
		<p class="skill-logo-title">{{ 'main.SKILLS.JAVASCRIPT' | translate }}</p>
	</div>

	<div class="skill-logo">
		<img src="path/to/html-logo.png" alt="HTML" />
		<p class="skill-logo-title">{{ 'main.SKILLS.HTML' | translate }}</p>
	</div>

	<div class="skill-logo">
		<img src="path/to/css-logo.png" alt="CSS" />
		<p class="skill-logo-title">{{ 'main.SKILLS.CSS' | translate }}</p>
	</div>

	<div class="skill-logo">
		<img src="path/to/api-logo.png" alt="API" />
		<p class="skill-logo-title">{{ 'main.SKILLS.API' | translate }}</p>
	</div>

	<div class="skill-logo">
		<img src="path/to/firebase-logo.png" alt="Firebase" />
		<p class="skill-logo-title">{{ 'main.SKILLS.FIREBASE' | translate }}</p>
	</div>

	<div class="skill-logo">
		<img src="path/to/git-logo.png" alt="Git" />
		<p class="skill-logo-title">{{ 'main.SKILLS.GIT' | translate }}</p>
	</div>

	<div class="skill-logo">
		<img src="path/to/scrum-logo.png" alt="Scrum" />
		<p class="skill-logo-title">{{ 'main.SKILLS.SCRUM' | translate }}</p>
	</div>

	<div class="skill-logo">
		<img src="path/to/material-logo.png" alt="Material" />
		<p class="skill-logo-title">{{ 'main.SKILLS.MATERIAL' | translate }}</p>
	</div>

	<div class="appHoverImage" appHoverImage>
		<div class="skill-logo hover">
			<img src="path/to/continuous-logo.png" alt="Continuous Learning" />
			<p class="continuous-learning">{{ 'main.SKILLS.LEARNING' | translate }}</p>
		</div>

		<p class="pop-up green-regular-text">{{ 'main.SKILLS.POP_UP' | translate }}</p>
	</div>
	<!-- </div> -->
</div>
