<div id="skills" class="component-gap"></div>
<h2>{{ 'main.SKILLS.HEADER' | translate }}</h2>
<div class="skills">
	<div class="skill-logo" appScrollAnimate="slide-in-left">
		<img class="img" src="./../../../assets/icons/skills/angular.png" alt="Angular" />
		<p class="skill-logo-title">{{ 'main.SKILLS.ANGULAR' | translate }}</p>
	</div>

	<div class="skill-logo" appScrollAnimate="slide-in-bottom">
		<img class="img" src="./../../../assets/icons/skills/ts.png" alt="TypeScript" />
		<p class="skill-logo-title">{{ 'main.SKILLS.TYPESCRIPT' | translate }}</p>
	</div>

	<div class="skill-logo" appScrollAnimate="slide-in-left">
		<img class="img" src="./../../../assets/icons/skills/js.png" alt="JavaScript" />
		<p class="skill-logo-title">{{ 'main.SKILLS.JAVASCRIPT' | translate }}</p>
	</div>

	<div class="skill-logo" appScrollAnimate="slide-in-bottom">
		<img class="img" src="./../../../assets/icons/skills/html.png" alt="HTML" />
		<p class="skill-logo-title">{{ 'main.SKILLS.HTML' | translate }}</p>
	</div>

	<div class="skill-logo" appScrollAnimate="slide-in-left">
		<img class="img" src="./../../../assets/icons/skills/css.png" alt="CSS" />
		<p class="skill-logo-title">{{ 'main.SKILLS.CSS' | translate }}</p>
	</div>

	<div class="skill-logo" appScrollAnimate="slide-in-bottom">
		<img class="img" src="./../../../assets/icons/skills/api.png" alt="API" />
		<p class="skill-logo-title">{{ 'main.SKILLS.API' | translate }}</p>
	</div>

	<div class="skill-logo" appScrollAnimate="slide-in-left">
		<img class="img" src="./../../../assets/icons/skills/firebase.png" alt="Firebase" />
		<p class="skill-logo-title">{{ 'main.SKILLS.FIREBASE' | translate }}</p>
	</div>

	<div class="skill-logo" appScrollAnimate="slide-in-bottom">
		<img class="img" src="./../../../assets/icons/skills/git.png" alt="Git" />
		<p class="skill-logo-title">{{ 'main.SKILLS.GIT' | translate }}</p>
	</div>

	<div class="skill-logo" appScrollAnimate="slide-in-left">
		<img class="img" src="./../../../assets/icons/skills/scrum.png" alt="Scrum" />
		<p class="skill-logo-title">{{ 'main.SKILLS.SCRUM' | translate }}</p>
	</div>

	<div class="skill-logo" appScrollAnimate="slide-in-bottom">
		<img class="img" src="./../../../assets/icons/skills/material.png" alt="Material" />
		<p class="skill-logo-title">{{ 'main.SKILLS.MATERIAL' | translate }}</p>
	</div>

	<div class="appHoverImage" appHoverImage>
		<div class="skill-logo hover">
			<img
				class="learning-img"
				src="./../../../assets/icons/skills/question-mark-1.png"
				alt="Continuous Learning"
			/>
			<p class="continuous-learning">{{ 'main.SKILLS.LEARNING' | translate }}</p>
		</div>

		<p class="pop-up green-regular-text">{{ 'main.SKILLS.POP_UP' | translate }}</p>
	</div>
</div>
<div class="pop-up-static-container">
	<img class="arrow-6" src="./../../../assets/icons/icons/arrow-6.png" alt="" />
	<p class="pop-up-static green-regular-text">{{ 'main.SKILLS.POP_UP' | translate }}</p>
	<a href="#contact" class="btn btn-green">
		{{ 'main.ABOUT_ME.CONTACT' | translate }}
	</a>
</div>
