<div class="skills">
	<p>{{ 'main.SKILLS.HEADER' | translate }}</p>
	<p>{{ 'main.SKILLS.ANGULAR' | translate }}</p>
	<p>{{ 'main.SKILLS.TYPESCRIPT' | translate }}</p>
	<p>{{ 'main.SKILLS.JAVASCRIPT' | translate }}</p>
	<p>{{ 'main.SKILLS.HTML' | translate }}</p>
	<p>{{ 'main.SKILLS.CSS' | translate }}</p>
	<p>{{ 'main.SKILLS.API' | translate }}</p>
	<p>{{ 'main.SKILLS.FIREBASE' | translate }}</p>
	<p>{{ 'main.SKILLS.GIT' | translate }}</p>
	<p>{{ 'main.SKILLS.SCRUM' | translate }}</p>
	<p>{{ 'main.SKILLS.MATERIAL' | translate }}</p>
	<p>{{ 'main.SKILLS.LEARNING' | translate }}</p>
	<p>{{ 'main.SKILLS.POP_UP' | translate }}</p>
</div>
