@import '../../assets/css/mixins.scss'; // .main-content {
// 	padding-top: 112px;
// }
.app-container {
	@include flex(center, normal, row, 0px);
}

.content-wrapper {
	max-width: 1600px;
	padding: 0px 105px 65px;
}

@media (max-width: 1400px) {
	.content-wrapper {
		padding-left: 7vw;
		padding-right: 7vw;
	}
}
