@import './assets/css/variables.scss';
@import './assets/css/mixins.scss';

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
}

body {
	background: linear-gradient(150deg, $bg-color 25%, $bg-color-light 50%, $bg-color 100%);
	// background: linear-gradient(150deg, $bg-color 25%, $bg-color-light 50%, $bg-color 75%, $bg-color-light 100%);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba($bg-color-bright, 0.5);
	border-radius: 5px;
	@include transition();
}

::-webkit-scrollbar-thumb:hover {
	background: rgba($bg-color-bright, 0.9);
	cursor: pointer;
}

::-webkit-scrollbar-track {
	background-color: $bg-color;
}

h1 {
	@include text-style(700, 82px, $green-color);
}

.job-title {
	@include text-style(500, 54px, $green-color);
	text-transform: uppercase;
}

h2 {
	padding-bottom: 36px;
	@include text-style(500, 54px, $red-color);
}

h3 {
	padding-bottom: 24px;
	@include text-style(700, 48px, $green-color);
}

// .red-regular-text {
// 	@include text-style(500, 54px, $red-color);
// 	font-size: 18px;
// 	font-weight: 400;
// 	color: $red-color;
// }

.green-regular-text {
	@include text-style(400, 18px, $green-color);
}

.red-small-text {
	@include text-style(400, 14px, $red-color);
}
a {
	text-decoration: none;
}
.btn {
	border: 1px solid $green-color;
	padding: 15px 30px;
	// text-decoration: none;
	cursor: pointer;
	@include transition();
}

.btn-green {
	background-color: $green-color;
	@include text-style(500, 18px, $bg-color);
	&:hover {
		color: $red-color;
	}
	&:active {
		color: $bg-color;
		font-weight: 700;
		filter: brightness(1.2);
	}
}

.btn-purple {
	background-color: transparent;
	@include text-style(500, 18px, $red-color);
	&:hover {
		color: $green-color;
	}
	&:active {
		border-color: $red-color;
		color: $red-color;
	}
}

.align-right {
	text-align: right;
}

@media (max-width: 768px) {
	h1 {
		font-size: 56px;
	}

	.job-title {
		font-size: 36px;
	}

	h2 {
		// padding-bottom: 124px;
		font-size: 36px;
	}

	h3 {
		// padding-bottom: 124px;
		font-size: 28px;
	}

	// .red-regular-text {
	// 	font-size: 17px;
	// }

	.green-regular-text {
		font-size: 17px;
	}

	.btn {
		padding: 12px 24px;
	}

	.btn-green {
		font-size: 17px;
	}

	.btn-purple {
		font-weight: 500;
		font-size: 17px;
	}
}
@media (max-width: 560px) {
	h1 {
		font-size: 40px;
	}

	.job-title {
		font-size: 24px;
		font-weight: 700;
	}

	h2 {
		// padding-bottom: 124px;
		font-size: 32px;
		font-weight: 700;
	}

	h3 {
		// padding-bottom: 124px;
		font-size: 24px;
	}

	// .red-regular-text {
	// 	font-size: 16px;
	// }

	.green-regular-text {
		font-size: 16px;
	}

	.btn {
		padding: 12px 20px;
	}

	.btn-green {
		font-size: 16px;
	}

	.btn-purple {
		font-size: 16px;
	}
}

// @media (hover: none) {
// 	.btn-green {
// 		&:hover {
// 			color: inherit; // Hover entfernen
// 		}
// 		&:active {
// 			color: $red-color;
// 			font-weight: 700;
// 			filter: brightness(1.15);
// 		}
// 	}

// 	.btn-purple {
// 		&:hover {
// 			color: inherit; // Hover entfernen
// 		}
// 		&:active {
// 			border-color: $red-color;
// 			color: $red-color;
// 		}
// 	}
// }
