@import './assets/css/variables.scss';
@import './assets/css/mixins.scss';

body {
	background: linear-gradient(150deg, $bg-color 25%, $bg-color-light 50%, $bg-color 75%, $bg-color-light 100%);
	// height: 5000px;
}

h1 {
	color: $green-color;
	font-weight: 700;
	font-size: 82px;
}

.job-title {
	color: $green-color;
	font-weight: 500;
	font-size: 54px;
	text-transform: uppercase;
}

h2 {
	font-weight: 500;
	font-size: 54px;
	color: $red-color;
}

h3 {
}

h4 {
}

p {
}

.red-48 {
	font-weight: 700;
	font-size: 48px;
	color: $red-color;
}

.red-22 {
	font-weight: 500;
	font-size: 22px;
	color: $red-color;
}

.red-18 {
	font-weight: 700;
	font-size: 18px;
	color: $red-color;
}

.red-18-light {
	font-weight: 500;
	font-size: 18px;
	color: $red-color;
}

.red-22 {
	font-weight: 500;
	font-size: 22px;
	font-weight: 500;
	color: $red-color;
}

.red-22 {
	font-weight: 500;
	font-size: 22px;
	color: $red-color;
}

.green-18 {
	font-weight: 700;
	font-size: 18px;
	color: $green-color;
}

.green-18-light {
	font-weight: 400;
	font-size: 18px;
	color: $green-color;
}

.green-16 {
	font-weight: 400;
	font-size: 16px;
	color: $green-color;
}

.purple-18 {
	font-weight: 500;
	font-size: 18px;
	color: $bg-color;
}

* {
	box-sizing: border-box;
	margin: 0;
	// color: $red-color;
	font-family: 'Roboto Mono', monospace;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #fd5b4f #dddddd00;
}

::-webkit-scrollbar {
	width: 4px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #fd5b4f;
	border-radius: 2px;
}

::-webkit-scrollbar-track {
	background-color: #00000000;
	border: 1px solid #00000000;
}
