<footer>
	<div class="content-wrapper">
		<div class="footer-personal">
			<div class="logo-container">
				<a [routerLink]="['/']">
					<img class="logo" src="./../../../assets/icons/icons/initials-logo.png" alt="" appTimedHover />
				</a>
				<!-- <img class="logo" src="./../../../assets/icons/icons/initials-logo.png" alt="" /> -->
				<p class="logo-text">{{ 'shared.FOOTER.LOGO_TEXT' | translate }}</p>
			</div>

			<p class="copyright">{{ 'shared.FOOTER.TEXT' | translate }}</p>
			<div class="social-media-container">
				<a href="https://github.com/Martin-Messirek" target="_blank" class="social-media-link" appHoverImage>
					<img
						src="./../../../assets/icons/social-media/github-button.png"
						alt="Github"
						class="default-image"
					/>
					<img
						src="./../../../assets/icons/social-media/github-button-green.png"
						alt="Github"
						class="hover-image"
					/>
				</a>
				<a href="mailto:martinmessirek@hotmail.com" target="_blank" class="social-media-link" appHoverImage>
					<img
						src="./../../../assets/icons/social-media/email-button.png"
						alt="Email"
						class="default-image"
					/>
					<img
						src="./../../../assets/icons/social-media/email-button-green.png"
						alt="Email"
						class="hover-image"
					/>
				</a>
				<a
					href="https://www.linkedin.com/in/martinmessirek/"
					target="_blank"
					class="social-media-link"
					appHoverImage
				>
					<img
						src="./../../../assets/icons/social-media/linkedin-button.png"
						alt="Linkedin"
						class="default-image"
					/>
					<img
						src="./../../../assets/icons/social-media/linkedin-button-green.png"
						alt="Linkedin"
						class="hover-image"
					/>
				</a>
			</div>
		</div>
		<div class="footer-legal">
			<a class="red-small-text" [routerLink]="['/legal']" appTimedHover>
				{{ 'shared.FOOTER.LEGAL' | translate }}
			</a>
			<a class="red-small-text" [routerLink]="['/privacy']" appTimedHover>
				{{ 'shared.FOOTER.PRIVACY' | translate }}
			</a>
		</div>
		<a class="signature" href="https://developerakademie.com/" target="_blank">
			<img src="./../../../assets/icons/icons/signature.png" alt="Developer Akademie" appTimedHover />
		</a>
	</div>
</footer>
