@import './../../../assets/css/mixins.scss';
@import './../../../assets/css/variables.scss';

footer {
	@include flex($jc: center);
}

.content-wrapper {
	@include flex($ai: center, $dir: column);
	width: calc(100vw - 210px);
	max-width: 1390px;
	padding-top: 80px;
	padding-bottom: 80px;

	// padding: 0px 105px 65px;
}

.footer-personal {
	width: 100%;
	@include flex($jc: space-between, $ai: center, $gap: 38px);
}

.logo-container {
	@include flex($ai: center, $dir: column, $gap: 2px);
}

.logo {
	width: 70px;
	height: 70px;
	cursor: pointer;
	@include transition();

	&:hover {
		filter: brightness(1.1);
	}
}

.logo-container .logo.hover-inactive {
	filter: none;
}

.logo-text {
	@include text-style(500, 12px, $red-color);
}

.social-media-container {
	@include flex($jc: center, $gap: 36px);

	img {
		cursor: pointer;
		@include transition();
	}
}

.footer-legal {
	@include flex($jc: center, $gap: 36px);
	a {
		@include transition();

		&:hover {
			color: $green-color;
			font-weight: 600;
		}
	}
}

.content-wrapper .footer-legal a.hover-inactive {
	color: $red-color;
	font-weight: 400;
}

.copyright {
	@include text-style(400, 23px, $red-color);
	padding-left: 43px;
}

.social-media-container {
	.social-media-link {
		position: relative;
		width: 30px;
		height: 30px;

		img {
			position: absolute;
			cursor: pointer;
			@include transition();
			left: 0;
			bottom: 0;
			width: 30px;
			height: 30px;
		}
	}
}

.signature {
	cursor: pointer;
	padding-top: 36px;

	img {
		height: 12px;
		width: 209px;
		@include delayed-transition();

		&:hover {
			transform: translateY(-2px);
		}
	}
}

.content-wrapper .signature img.hover-inactive {
	transform: translateY(0);
}

@media (max-width: 960px) {
}

@media (max-width: 896px) {
}

// .content-wrapper {
// 	max-width: 1600px;
// 	padding: 0px 105px 65px;
// }

@media (max-width: 1400px) {
	.content-wrapper {
		width: calc(100vw - 14vw);
		// padding-left: 7vw;
		// padding-right: 7vw;
	}
}

@media (max-width: 1200px) {
	.content-wrapper {
		padding-top: 32px;
		padding-bottom: 64px;
	}

	.copyright {
		font-size: 18px;
	}
}

@media (max-width: 896px) {
	.content-wrapper {
		padding-top: 24px;
		padding-bottom: 32px;
	}

	.copyright {
		padding: 0;
	}

	.social-media-container,
	.logo-text {
		display: none;
	}

	.footer-personal {
		@include flex($jc: center, $ai: center, $dir: column, $gap: 8px);
		padding-bottom: 36px;
	}

	.footer-legal {
		@include flex($jc: center, $ai: center, $dir: column-reverse, $gap: 16px);
	}
}

@media (max-width: 768px) {
	.content-wrapper {
		padding-left: 6vw;
		padding-right: 6vw;
	}

	.copyright {
		font-size: 16px;
	}
}

@media (max-width: 560px) {
	.copyright {
		font-size: 14px;
	}
}
