<div [ngClass]="{ 'reverse-row': reverseRow }" class="project-container">
	<div class="text-container">
		<h3>{{ TITLE }}</h3>
		<p class="technologies">{{ TECHNOLOGIES }}</p>
		<p class="green-regular-text description">{{ DESCRIPTION | translate }}</p>
		<div [ngClass]="[reverseRow ? 'buttons' : 'buttons-right']">
			<a [href]="githubLink" target="_blank" class="btn btn-purple">GitHub</a>
			<a [href]="liveLink" target="_blank" class="btn btn-green">Live Test</a>
		</div>
	</div>
	<div class="image">
		<img
			[ngClass]="[reverseRow ? 'move-from-left' : 'move-from-right']"
			[src]="imageSrc"
			alt="{{ TITLE }} Screenshot"
			appScrollAnimate="slide-in-animation"
		/>
	</div>
	<div class="mobile-buttons">
		<a [href]="githubLink" target="_blank" class="btn btn-purple">GitHub</a>
		<a [href]="liveLink" target="_blank" class="btn btn-green">Live Test</a>
	</div>
</div>
