@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';

.project-container {
	padding-bottom: 48px;
	@include flex($jc: flex-end, $gap: 48px);
	text-align: right;
}

.reverse-row {
	flex-direction: row-reverse;
	text-align: left;
}

.text-container {
	width: 498px;
}
.technologies {
	@include text-style(400, 18px, $green-color);
}

.description {
	padding: 48px 0 48px;
}

.buttons {
	@include flex($gap: 24px);
}

img {
	width: 588px;
	height: 371px;
	object-fit: cover;
	// transform: rotateX(90deg);
	// transform: scale(0);
}

.move-from-left {
	transform: translateX(-100%);
	opacity: 0;
}

.move-from-right {
	transform: translateX(100%);
	opacity: 0;
}

.slide-in-animation {
	// transform-origin: bottom;
	// transform: rotateX(0deg);
	transform: translateX(0%);
	opacity: 1;
	transition: transform 0.9s ease-out 0.2s, opacity 0.4s ease-out 0.2s;
}

.mobile-buttons {
	display: none;
}

@media (max-width: 1400px) {
	.project-container {
		flex-direction: column;
		align-items: center;
		text-align: left;
	}

	.text-container {
		@include flex($jc: center, $ai: center, $dir: column, $gap: 0px);
		width: 100%;
		max-width: 588px;
	}

	.buttons {
		display: none;
	}

	.mobile-buttons {
		@include flex($jc: center, $ai: center, $gap: 14px);
	}

	.description {
		padding-bottom: 0;
		padding-top: 32px;
	}
}

@media (max-width: 1200px) {
	img {
		width: 100%;
		max-width: 588px;
		height: auto;
	}
}

@media (max-width: 768px) {
	.project-container {
		gap: 36px;
	}

	.text-container {
		max-width: 88vw;
	}

	.buttons {
		display: none;
	}

	.mobile-buttons {
		@include flex($jc: center, $ai: center, $gap: 14px);
	}
}

@media (max-width: 560px) {
	.project-container {
		gap: 28px;
		text-align: center;
	}

	img {
		max-width: 88vw;
		height: auto;
	}
}
